Makefile
config.h
config.log
config.status
configure.scan
src/.deps
src/Makefile
src/*.o
src/#
src/am--include-marker
src/koa
src/gmon.out
gmon.out
stamp-h1
tags
autom4te.cache/
autoscan.log
.vscode
*/flat-report
*~
